.geo_logo {
    width: 15%;
    /* color: #285f9fbb; */
}

.mobility-data-list {
    list-style-type: none;
}

path {
    pointer-events: all;
  }
  path:hover {
    opacity: 0.50;
    cursor: pointer;
  }

.jumbotron {
  width: 85%;
  height: 38%;
  background-color: white;
}

.about-mobility-mate {
  width: 70%;
  font-size: 1em;
  
}

.mobility-mate-header {
  margin-top: -1em;
}

.mobility-container {
  float: right;
}

#mobility-logo {
  width: 40%;
  float: left;
  margin-right: 10em;
}

.jumbotron-elements-container {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}