.geo_logo {
    width: 15%;
    /* color: #285f9fbb; */
}

.mobility-data-list {
    list-style-type: none;
}

path {
    pointer-events: all;
  }
  path:hover {
    opacity: 0.50;
    cursor: pointer;
  }

.big-div {
  width: 35%;
  height: 25%;
  margin-top: 6em;
  margin-left: 30em;
  background-color: white;
}

.about-mobility-mate {
  width: 100%;
  font-size: 0.79em;
  color: #285a84;
}

.mobility-mate-header {
  margin-top: -1em;
}

.mobility-container {
  float: right;
}

#mobility-logo {
  width: 40%;
  float: left;
  margin-right: 4em;
  margin-top: -1em;
}
  
  #mobility-word {
    color: #285a84;
    font-weight: bolder;
    font-family: 'Pacifico';
  }

.jumbotron-elements-container {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

#google-link {
  text-decoration: none;
  color: #17a2b8;
}

#google-link:hover {
  text-decoration: none;
  color: white;
}

.intro-container {
  margin-top: -2em;
  border: solid 1px #285a84;
  height: 16em;
  padding: 1.5em;
  width: 200%;
  border-radius: 0.5em;
}