.geo_logo {
    width: 15%;
    /* color: #285f9fbb; */
}

.mobility-data-list {
    list-style-type: none;
}

path {
    pointer-events: all;
  }
  path:hover {
    opacity: 0.50;
    cursor: pointer;
  }

.jumbotron {
  width: 65%;
  height: 29%;
  background-color: white;
  margin-left: 6.5em;
}

.about-mobility-mate {
  width: 100%;
  font-size: 0.9em;
  margin-top: -2.5em;
  
}

.mobility-mate-header {
  margin-top: -1em;
}

.mobility-container {
  float: right;
}

#mobility-logo {
  width: 40%;
  float: left;
  margin-right: 4em;
  margin-top: -2em;
}

.jumbotron-elements-container {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

#google-link {
  text-decoration: none;
  color: #17a2b8;
}

#google-link:hover {
  text-decoration: none;
  color: white;
}