.mobility-hero {
    width: 100%;
    height: 400px;
    background-image: url('../../assets/images/movement.jpg');
    background-repeat: none;
    background-size: cover;
    filter: grayscale(40%);

}

.mobility-title-container {
    color: white;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}

.image-preload1 {
    background-image: url('../../assets/images/grocery.jpg');
    display: none;
}

.image-preload2 {
    background-image: url('../../assets/images/transit.jpg');
    display: none;
}

#save-button {
    margin-top: 1.5em;
    margin-left: 1em;
}

.save-alert {
    width: 80%;
}

.sub-header-save-container {
    border: solid 1px #285a84;
    color: #285a84;
    width: 80%;
    height: 9em;
    border-radius: 0.5em;
}

.trends-header {
    padding-top: 0.5em;
    margin-left: 0.8em;
    font-size: 1.4em;
}

.date-span {
    margin-left: 1em;
}

.failsafe-screen-mobility-trends {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}

.mobility-title {
    font-family: 'Pacifico';
    margin-top: 2em;
    font-size: 8em;
}

.places-trends-container {
    margin-top: 4em;
}

.places-grocery-header {
    width: 75%;
    height: 200px;
    background-image: url('../../assets/images/grocery.jpg');
    filter: grayscale(40%);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    color: white;
}

.places-grocery-title {
    font-weight: bolder;
    font-size: 3.5em;
}

.places-parks-header {
    width: 75%;
    height: 200px;
    background-image: url('../../assets/images/park.jpg');
    filter: grayscale(40%);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    color: white;
}

.places-parks-title {
    font-weight: bolder;
    font-size: 3.5em;
}

.places-transit-header {
    width: 75%;
    height: 200px;
    background-image: url('../../assets/images/transit.jpg');
    filter: grayscale(30%);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    color: white;
}

.places-transit-title {
    font-weight: bolder;
    font-size: 3.5em;
}

.places-work-header {
    width: 75%;
    height: 200px;
    background-image: url('../../assets/images/work.jpg');
    filter: grayscale(40%);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    color: white;
}

.places-work-title {
    font-weight: bolder;
    font-size: 3.5em;
}

#down-arrow {
    width: 7%;
    margin-top: -1.75em;
    display: none;
}

#up-arrow {
    width: 5.5%;
    height: 9%;
    margin-top: -1.95em;
    display: none;
}

#trend-percentage-negative {
    color: #f4242f;
    font-size: 4em;
}

#trend-percentage-positive {
    color: green;
    font-size: 4em;
}

.graph-container {
    height: 300px;
    width: 100%;
    margin-top: 8em;
    margin-bottom: 18em;
    /* background-color: rgba(87, 144, 182, 0.178); */
    /* border: 0.5px solid black; */
    border-radius: 4px;
    /* color: white; */

}

#small-calendar-icon {
    width: 15%;
    /* margin-left: -18px; */
    float: left;
}

.places-grocery-average {
    width: 65%;
    font-size: 0.65em;
    background-color: pink;
}

.average-description {
    width: 75%;
    margin-top: 1em;
    margin-right: 2em;
    float: right;
}

.graph-subcontainer {
    margin-top: 2em;
    border-radius: 0.5em;
    width: 80%;
    border: solid 1px #285a84;
}

.content-divider {
    width: 80%;
    margin-right: 20%;
}

.places-shopping-dining-header {
    width: 75%;
    height: 200px;
    background-image: url('../../assets/images/shopping_dining.jpg');
    filter: grayscale(40%);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    color: white;
}

#loading-div {
    position: fixed;
    top: 50%;
    left: 50%;
}