.mobility-hero {
    margin-top: -0.5em;
    width: 100%;
    height: 400px;
    background-image: url('../../assets/images/movement.jpg');
    background-repeat: none;
    background-size: cover;
    filter: grayscale(40%);

}

.mobility-title-container {
    color: white;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}

.mobility-title {
    padding-top: 2em;
    font-size: 8em;
}

.places-trends-container {
    margin-top: 4em;
}

.places-grocery-header {
    width: 75%;
    height: 200px;
    background-image: url('../../assets/images/grocery.jpg');
    filter: grayscale(40%);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    color: white;
}

.places-grocery-title {
    font-weight: bolder;
    font-size: 3.5em;
}

.places-parks-header {
    width: 75%;
    height: 200px;
    background-image: url('../../assets/images/park.jpg');
    filter: grayscale(40%);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    color: white;
}

.places-parks-title {
    font-weight: bolder;
    font-size: 3.5em;
}

.places-transit-header {
    width: 75%;
    height: 200px;
    background-image: url('../../assets/images/transit.jpg');
    filter: grayscale(30%);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    color: white;
}

.places-transit-title {
    font-weight: bolder;
    font-size: 3.5em;
}

.places-work-header {
    width: 75%;
    height: 200px;
    background-image: url('../../assets/images/work.jpg');
    filter: grayscale(40%);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    color: white;
}

.places-work-title {
    font-weight: bolder;
    font-size: 3.5em;
}

.down-arrow {
    width: 7%;
}

.trend-percentage {
    font-size: 2em;
}