
.saved-reports-header {
    margin-top: 2em;
    color: #0f6c7a;
}

.saved-reports-baseline {
    margin-bottom: 4em;
}

.profile-charts-container {
    width: 25%;
}

.reports-header {
    display: flex;
    flex-direction: column;
	align-items: center;
    align-content: baseline;
    margin-right: 12em;
}

.refresh-button {
    float: left;
    width: 14%;
}

.delete-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 0;
}

.delete-button {
    height: 2.5em;
}

.export-button {
    height: 2.5em;
}

.export-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
    margin-top: -1.5em;
    margin-bottom: 2em;
}

.date-span {
    font-weight: bolder;
    color: #285a84;
    margin-right: 15px;
}

.date-header {
    margin-top: 1em;
    margin-left: -1em;
}