.grocery-chart-profile {
    width: 50%;
    margin-top: -3.5em;
}

.saved-reports-header {
    margin-top: 2em;
}

.saved-reports-baseline {
    margin-bottom: 4em;
}

.profile-container {
    margin-left: 1.5em;
}