/* * {
    font-family: 'Raleway', sans-serif;
} */

#sign-up-link {
    margin-right: 0.75em;
    text-decoration: none;
}

#log-in-link {
    text-decoration: none;
}

#mobility-mate {
    font-family: 'Pacifico', cursive;
    color: #285a84;
}

#email {
    font-family: 'Pacifico';
    color: #285a84;
}